body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  margin: 0 auto;
  max-width: 720px;
}

/* Полоса прокрутки */
::-webkit-scrollbar {
  width: 6px; /* ширина всей полосы прокрутки */
}

::-webkit-scrollbar-track {
  background: transparent; /* цвет зоны отслеживания */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 68, 204, .3); /* цвет бегунка */
  border-radius: 20px; /* округлось бегунка */
}
